* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body{
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    min-height: 100vh;
    flex-direction: column;
    background-color: #000000;
}

.input-box{
    width: 350px;
    font-family: 'Courier New', Courier, monospace;

}

h3{
    text-transform:uppercase;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 255, 255);
}

.input-box input {
    position: relative;
    height: 60px;
    width: 100%;
    background: transparent;
    border: none;
    border-radius: 8px;
    color: rgb(255, 255, 255);
    margin: 15px 0 20px;
    outline: none;
    font-size: 24px;
    padding: 0 20px;
    letter-spacing: 2px;
    box-shadow: -4px -4px 5px rgba(255, 255,255, 1), inset -4px -4px 5px rgba(0, 0,0, 0.2),
    inset -4px -4px 10px rgba(255, 255,255, 1),
    4px 4px 5px rgba(0, 0,0, 0.1);
}

.input-box input::placeholder{
    letter-spacing: 0;
}

.input-box #btn_make{
    position: relative;
    background: rgb(3, 57, 22);
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    display: inline-block;
    padding: 10px 15px;
    border-radius: 4px;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 10px 0 10px;
    margin-left: 80px;
}
.input-box #btn_del{
    position: relative;
    background: rgb(102, 16, 16);
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    display: inline-block;
    padding: 10px 15px;
    border-radius: 4px;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 10px 0 10px;
}
.input-box #btn_copy{
    position: relative;
    background: rgb(13, 27, 127);
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    display: inline-block;
    padding: 10px 15px;
    border-radius: 4px;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 10px 0 10px;
    margin-left: 140px;
}
.input-box #btn_make:active {
    background: rgb(1, 19, 13);
}
.input-box #btn_del:active {
    background: rgb(27, 2, 2);
}
.input-box #btn_copy:active {
    background: rgb(2, 5, 40);
}

.form_test{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#box_area{
    background: #068477;
    position: relative;
    height: 100px;
    width: 400px;
    border: none;
    border-radius: 8px;
    color: #333;
    margin: 15px 0 20px;
    outline: none;
    font-size: 24px;
    padding: 0 20px;
    letter-spacing: 2px;
    align-items: center;
}
p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: rgb(255, 255, 255);
}
span{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 40px;
    color: #333;
}

@media screen and (min-width: 800px) {
    .container {
      margin: 1em 2em;
    }
  } 